<div class="container">
    <h1 class="heading">Bienvenue sur AgileNex</h1>
  
    <!-- Fonctionnalités sous forme de cartes -->
    <div class="features">
      <div class="feature-card">
        <i class="icon fal fa-tasks"></i>
        <h2>Organisation Agile</h2>
        <p>Gérez vos projets avec flexibilité et efficacité grâce à notre approche Agile.</p>
      </div>
      <div class="feature-card">
        <i class="icon fal fa-chart-line"></i>
        <h2>Visualisation des données</h2>
        <p>Obtenez des insights précieux à partir de vos données avec nos outils de visualisation.</p>
      </div>
      <div class="feature-card">
        <i class="icon fal fa-calendar-alt"></i>
        <h2>Planification avancée</h2>
        <p>Planifiez vos tâches et projets avec précision grâce à notre système de calendrier.</p>
      </div>
    </div>
  
    <!-- Slogan avec animation -->
    <h2 class="slogan">Votre projet, Notre passion</h2>
  
    <!-- Bouton pour inciter à s'inscrire -->
    <button class="signup-button" (click)="redirectToRegister()">Inscrivez-vous dès maintenant</button>
  </div>
  